@import "src/styles/displayCards";

.vehicule {
  background-image: url("../../../../assets/portail/voiture.jpg");
  background-size: cover;
}

.immobilier {
  background-image: url("../../../../assets/portail/maison.jpg");
  background-size: cover;
}
