<div class="body">
  <mat-card class="card immobilier">
    <mat-card-content>
      <div class="sous" [routerLink]='["/immobilier"]'>
        <h3>Immobiliers</h3>
        <p>Vous avez assez d'agent ? vous pouvez vous offrir une belle maison en cliquant sur ce lien.</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card vehicule">
    <mat-card-content>
      <div class="sous" [routerLink]='["/vehicule"]'>
        <h3>Véhicules</h3>
        <p>Vous avez assez d'argent ? vous pouvez vous offrir une belle bagnole en cliquant sur ce lien.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
