<div class="first">
  <img class="img one" src="../../../../assets/js/svg/s1.svg" alt="">
  <img class="img two" src="../../../../assets/js/svg/h1.svg" alt="">
  <img class="img tree" src="../../../../assets/js/svg/d1.svg" alt="">
  <img class="img foor" src="../../../../assets/js/svg/c1.svg" alt="">
  <div class="p">
    L'ile aux cartes
  </div>
</div>

<div class="body">
  <div>
    <h3> Gagnez gros</h3>
    <p>
        Le videopoker est un jeu de casino passionnant qui associe l’adresse nécessaire du poker au plaisir des machines à sous en ligne. Il s’agit d’un jeu facile à jouer et qui offre des possibilités de gros gains. On retrouve dans ce jeu de nombreux éléments du poker traditionnel. La différence la plus importante est que vous jouez uniquement contre le croupier. C’est seulement votre main contre la sienne.

        Quelques jeux populaires de videopoker sont Ten or Better, Deuce Wild Progressive, Joker Poker Progressive et Poker Pursuit. Saurez-vous obtenir un brelan, un full house ou la royal flush ? Chaque jeu de videopoker a son propre bonus pour augmenter vos chances de gains !

        Le Blackjack en ligne n'est pas seulement un jeu de casino populaire en Belgique. Ce jeu de cartes célèbre dans le monde entier est connu sous le nom Vingt et Un. Jouez en mode single-hand, multi-hand, super 7's, 3d of VIP blackjack. Le Blackjack en ligne donne des chances élevées de battre la banque. Ressentez le frisson et gagnez sans tarder!

        Blitz Casino en ligne est complètement légal avec des jeux démo gratuits.
    </p>
  </div>
</div>
