
<footer>
  <div>
      <p class="title">Liens utiles</p>
      <a href="#" target="_blank">Facebook</a><br/><br/>
      <a href="#" target="_blank">Linkedin</a><br/><br/>
      <a href="#" target="_blank">Instagram</a>
  </div><br/>
  <div>
      <p class="title">Nous contacter</p>
      <a href="#" target="_blank">Notre site web</a>
      <p class="p">info@roigle.be</p>
  </div>
  <div>
       <p class="title">L'ile aux cartes</p>

      <p class="p">Jeux de carte sans but lucratif</p>
      <p class="p"> +32 466 23 71 28</p>
      <a class="menlegal" href = "/mentions-legales">Mentions légales</a>
  </div>
</footer>

