<section class="wrap-3d">

<!--    <button class="button" (click) = "create()" mat-raised-button color="primary">ajouter une maison</button>-->

  <div class="intro">
    <h1>ACHATS DES MAISONS</h1>
    <p></p>
    <p> </p>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m01.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 38m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 480 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 2800, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m00.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison de campagne<br><br>
          Prix de la maison: 180 050 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison de campagne', 180050, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m02.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison de campagne<br><br>
          Prix de la maison: 120 050 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison de campagne', 120050, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m03.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 380 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 380000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m04.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 430 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 430000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m05.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 380 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 380000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m06.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 700 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 700000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m07.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 510 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 510000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m08.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison de campagne<br><br>
          Prix de la maison: 200 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison de campagne', 200000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m09.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 180 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 180000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m100.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 550 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 550000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/m101.jpg" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong> maison de 16m² sur 42m²</strong><br><br>
          Nom: Maison urbaine<br><br>
          Prix de la maison: 300 000 RoigCorn<br><br>
          Type d'habitation: maison<br>
        </p>
        <p>
          <a (click) = "achat('Maison urbaine', 300000, 'maison')">J'achète cette maison</a>
        </p>
      </figcaption>
    </figure>
  </div>

</section>
