
  <div class="body">
    <mat-card class="card poker">
      <mat-card-content>
        <div class="sous" [routerLink]='["/choice"]'>
          <h3>POKER</h3>
          <p>Gagner de l'argent en jouant aux cartes.</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card banque">
      <mat-card-content>
        <div class="sous" [routerLink]='["/banque"]' mat-raised-button>
          <h3>BANQUE</h3>
          <p>Vous pouvez consulter votre solde, emprunter de l'argent à la banque.</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card commune">
      <mat-card-content>
        <div class="sous" [routerLink]='["/commune"]'>
          <h3>COMMUNE</h3>
          <p>Vous pouver modifier vos données, consulter la liste des habitans de l'ile, consulter la liste des amis.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card disco">
      <mat-card-content>
        <div class="sous" [routerLink]='["/discotheque"]'>
          <h3>DISCOTHEQUE</h3>
          <p>Vous pouvez acheter des boissons.</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card achat">
      <mat-card-content>
        <div class="sous" [routerLink]='["/achats"]'>
          <h3>ACHATS</h3>
          <p>Achater des voitures et des maisons</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card forum">
      <mat-card-content>
        <div class="sous" [routerLink]='["/forum"]'>
          <h3>FORUM</h3>
          <p>Vous avez des questions ? vous pouvez vous adresser aux habitants de l'ile.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
