@import "src/styles/displayCards";

.poker {
  background-image: url("../../../../assets/portail/poker.jpg");
  background-size: cover;
}

.banque {
  background-image: url("../../../../assets/portail/banque.jpg");
  background-size: cover;
}

.disco {
  background-image: url("../../../../assets/portail/discotheque.jpg");
  background-size: cover;
}

.forum {
  background-image: url("../../../../assets/portail/forum.jpg");
  background-size: cover;
}

.commune {
  background-image: url("../../../../assets/portail/commune.jpg");
  background-size: cover;
}

.achat {
  background-image: url("../../../../assets/portail/achat.jpg");
  background-size: cover;
}
