<section class="wrap-3d">
<!--  <button class="button" (click) = "create()" mat-raised-button>ajouter un vehicule</button>-->
  <div class="intro">
    <h1>ACHATS DES VEHICULES</h1>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v00.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v1.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 10 000 RoigCorn<br><br>
          Marque de la viture: Fiat <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Fiat')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v02.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 28 000 RoigCorn<br><br>
          Marque de la viture: Audi <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 28000, 'Audi')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v03.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 8 000 RoigCorn<br><br>
          Marque de la viture: Toyota yaris<br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 8000, 'Toyota yaris')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v04.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 98 000 RoigCorn<br><br>
          Marque de la viture: Mercedez benz <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 98000, 'Mercedez benz')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v05.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v06.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v07.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v88.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v09.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v10.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="item-3d">
    <span class="ground"></span>
    <figure class="item-content group">
      <div class="item-img">
        <img src="../../../../../assets/achats_voiture/v12.png" alt="" />
      </div>
      <figcaption class="item-caption">
        <p>
          <strong>Voiture de luxe</strong><br><br>
          Nom: Voiture de luxe<br><br>
          Prix de la voiture: 20 000 RoigCorn<br><br>
          Marque de la viture: Toyota <br>
        </p>
        <p>
          <a (click) = "achat('Voiture de luxe', 20000, 'Toyota')">J'achète cette voiture</a>
        </p>
      </figcaption>
    </figure>
  </div>

</section>
