<div class="body">
  <mat-card class="card compte">
    <mat-card-content>
      <div class="sous" [routerLink]='["/compte"]'>
        <h3>MON COMPTE</h3>
        <p>Vous pouvez modifier vos données.</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card habitants">
    <mat-card-content>
      <div class="sous" [routerLink]='["/habitants"]'>
        <h3>HABITANTS DE L'ILE</h3>
        <p>Vous pouver demander l'amitier à des amis si ce n'est déjà pas le cas.</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card friends">
    <mat-card-content>
      <div class="sous" [routerLink]='["/friends/f"]'>
        <h3>MES AMIS</h3>
        <p>Vous pouver enlever quelqu'un de votre liste d'amis. Vous pouvez également demander un pret à un amis.
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card friends_ask">
    <mat-card-content>
      <div class="sous" [routerLink]='["/friends-ask/fa"]'>
        <h3>CEUX A QUI J'AI FAIS UNE DEMANDE</h3>
        <p>Vous pouvez annuler une demande que vous avez faites.</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card friends_receive">
    <mat-card-content>
      <div class="sous" [routerLink]='["/friends-receive/fr"]'>
        <h3>CEUX QUI M'ONT FAIT UNE DEMANDE</h3>
        <p>Vous pouvez accepter une demande d'amitier comme vous pouvez refuser.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
