@import "src/styles/displayCards";

.compte {
  background-image: url("../../../../assets/portail/mon\ compte.jpg");
  background-size: cover;
}

.habitants {
  background-image: url("../../../../assets/portail/habitants.jpg");
  background-size: cover;
}

.friends {
  background-image: url("../../../../assets/portail/amis.jpg");
  background-size: cover;
}

.friends_ask {
  background-image: url("../../../../assets/portail/friends\ ask.jpg");
  background-size: cover;
}

.friends_receive {
  background-image: url("../../../../assets/portail/friend\ received.jpg");
  background-size: cover;
}
